.data2 {
    color: #2F81BD;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-align: justify;
}

.style31 {font-family: "Century Gothic"}
.style15 {color: #333333;}
.style17 {	color: #000066;	font-weight: bold;}
.style19 {font-family: Verdana, Arial; font-weight: bold; color: #CC0000; font-size:18px;}
.style21 {color: #FF0000;}
.style25 {font-family: Verdana, Arial; font-weight: bold; color: #CC0000; font-size: 11px;}
.style28 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #2f81bd; font-size: 13px; line-height:20px;}
.style30 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #2736C0;  font-size: 13px; line-height:20px; margin-top:5px;}
