.shadow{    box-shadow:0px 0px 3px 3px gray; }
 .tab{padding:5px 8px 5px 8px; color:White;font-weight:bold; background-color:#649EB9; border-radius:5px;}
 .tab1{padding:5px 28px 5px 28px; color:White;font-weight:bold; background-color:#649EB9; border-radius:5px; cursor:pointer;}
 .titlediv{width:98%; color:#045FC6; font-weight:bold; padding-left:10px;  margin:5px 0px 3px 0px;}
 .htmldiv{width:100%; padding:5px 2px 0px 5px; font-family:Segoe UI;}
 .spanback{padding:5px 8px; background-color:#165F9B; font-size:12pt; border-radius:2px; color:#fff;}
 .hrclass{width:100%; border:1px dotted #2066A1; padding-left:5px;}
 .itemdiv{width:99.5%; border-radius:5px;}
 .btnrefresh{cursor:pointer; color:White; font-weight:bold; background-color:#649EB9; padding:3px; border-radius:2px;}
 .linktd{font-size:13pt; font-weight:bold; color:#1A95D8;}
 
 .catdiv{font-weight:bold; color:White; background-color:#275C68; padding:5px; width:150px; cursor:pointer; border-top-left-radius:5px; border-top-right-radius:5px}
.catdiv:hover{font-weight:bold; color:White; background-color:#C55F30; padding:5px 5px 7px 5px; width:150px; cursor:pointer; border-top-left-radius:5px; border-top-right-radius:5px}
.datalistdiv{border:1px solid #C55F30; border-radius:5px; height:590px; width:100%; overflow-y:scroll;}
.genralinfo,.Itinerarydiv,.inexdiv,.Photosdiv,.Otherdiv{font-size:12px; font-family:Segoe UI;  float:left; padding-top:5px; width:99%; margin-left:3px; text-align:justify;}
.photodiv{box-shadow:0px 0px 3px 2px }
.photodivbig{border:1px solid gray; margin-top:10px;}
.photodiv:hover{box-shadow:0px 0px 4px 2px;}
.actdiv{font-weight:bold; color:White; background-color:#C55F30; padding:5px 5px 7px 5px; width:150px; cursor:pointer; border-top-left-radius:5px; border-top-right-radius:5px}
.catetbsdiv{height:21px;}
.hrdiv{border:1px dotted Gray; width:100%}
.toptitle{width:99%; color:#20A9CE; font-size:12pt; font-weight:bold; padding-left:10px;  margin-bottom:10px;}
.lblstyle{color:#008AFF; font-size:12pt; font-weight:bold; }
.linkcolor{color:Red;}
.inexdiv ul li {
    margin: 0px;
    list-style: disc;
}
.inexdiv strong {
   font-weight:bold;
}
.rightdiv{width:100px; float:right; font-size:10pt;}
.backclass{padding:3px 10px; background-color:#146FA8; color:White; border-radius:5px;}
.navigationtd{border-radius:5px; background-color:#2066A1; height:30px; } 
 .roundlink{background-color:White; color:Black; box-shadow:5px; border-radius:5px; padding:5px; font-weight:bold}
 .prediv{float: left;
padding: 4px 0px 4px 0px;
box-shadow: 3px 2px 8px 3px #FFDCDC;}
 .nextdiv{padding: 4px 0px 0px;
box-shadow: -2px 5px 8px 3px #FFDCDC;
float: right;}


.tbox
{
	width: 215px;
height: 23px;
border: 1px solid #999;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 63%, #f3f3f3 89%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(63%,#f3f3f3), color-stop(89%,#f3f3f3));
background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 63%,#f3f3f3 89%);
background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 63%,#f3f3f3 89%);
background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 63%,#f3f3f3 89%);
background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 63%,#f3f3f3 89%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
border-radius:5px;
}
.tdfont{font-weight:bold; font-size:12px; width:120px; text-align:left;}
.btnstyle{padding:6px; background-color:#146FA8; color:White; border-radius:3px; width:80px; font-weight:bold; }
.tblstyle
{
    background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 63%, #f3f3f3 89%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(63%,#f3f3f3), color-stop(89%,#f3f3f3));
background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 63%,#f3f3f3 89%);
background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 63%,#f3f3f3 89%);
background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 63%,#f3f3f3 89%);
background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 63%,#f3f3f3 89%);
    }
    .tbltitle{font-size: 14px;
color: #0E7DA2;
font-weight: bold;}
    .tablediv{border:1px solid Red; width:502px}
    .trtitileback{background-color: #B7D6DD;
height: 30px;}
.tablediv tr{height:30px;}

 .ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
element {
}
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
}
.ui-corner-all {
    border-radius: 5px;
}
.ui-widget-header {
    border: 1px solid #4297D7;
    background: url('images/ui-bg_gloss-wave_75_2191c0_500x100.png') repeat-x scroll 50% 50% #2191C0;
    color: #EAF5F7;
    font-weight: bold;
}
.ui-helper-clearfix {
    display: block;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 0.3em;
    top: 50%;
    width: 19px;
    margin: -10px 0px 0px;
    padding: 1px;
    height: 18px;
}
.ui-widget-header a {
    color: #EAF5F7;
}

.ui-corner-all {
    border-radius: 5px;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
    width: 495px;
}
.ui-widget-overlay {
    background: url('images/ui-bg_flat_75_aaaaaa_40x100.png') repeat-x scroll 50% 50% #AAA;
    opacity: 0.3;
}
.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0px none;
    padding: -0.5em 1em;
    background: none repeat scroll 0% 0% transparent;
    overflow: auto;}
.ui-dialog-buttonset,.ui-icon-grip-diagonal-se{display:none}