
 hr{margin:14px 0px 0px 0px; width:90%; padding:0px 0px 0px 0px; }
.banner{height:245px;}
.hotelResultCardHiDensity .primary {
    margin-right: -3.25em;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 60em;
    padding: 0.8em;
}

.hotelResultCardHiDensity .secondary {
    border-left-style: none;
    vertical-align: middle;
    width: 12.917em;
    padding: 1em;
}
.linksArea{float:right;}
.hotelResultCardHiDensity .primary .hotelInformation {
    margin-left: 1.333em;
    width: 38.333em;
}
ul.pipedList, dl.pipedList {
    margin: 0px;
    overflow: hidden;   
    padding-left: 88%;
}
.hotelResultCardHiDensity {
    margin: 1px 0.033em 1.047em;
    position: relative;
}
element {
    color: #F4E5E5;
    font-size: 14px;
    font-family: "Segoe UI";
    line-height: 28px;
    margin-left: 85px;
    float: left;
}
ul.pipedList li, dl.pipedList dt, dl.pipedList dd {
    float: left;
    min-height: 1.333em;
    /*width: 100px;*/
}
.hotelDetailsNavigationTabsMod .descriptionTabContent .hotelDescription .descriptionOverview, .hotelDetailsNavigationTabsFlexLiteMod .descriptionTabContent .hotelDescription .descriptionOverview {
    clear: left;
    text-align: justify;
}
.photoViewer {
    height: 277px;
    position: relative;
    width: 450px;
}
.photoViewer .photo {
    line-height: 277px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 450px;
}
.numReviews,.standaloneHotelHeader.roomsRatesHeader .photosLink,.tabBar{display:none;}

.spans{color:#fff; background-color:#0C3495; height:25px; border-radius:5px; padding:5px;}
.titlediv{width:100%; color:Gray; font-size:12pt; font-weight:bold; padding-left:10px; margin-top:5px;}