@charset "UTF-8";

.grey {color: #aaa;}

/*  City Info   */
.city_detail_container { display: none; }
.city_detail_container .city_detail { width: 100px; border: 1px solid #ccc; }


/*  Interactive Map Container */
.map_main_contianer{
	height:354px;
	width:auto;
	margin:40px 0 0 0px;
}

.map_contianer {
	background-image:url(../images/map/template/new_map.png); top:-50px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width:636px;
	height:328px;
	/*height:354px;
	width: 630px;*/
	position: relative;
	color: #fff;
	font-family: Calibri;
	font-size: 12px;
	text-align: justify; 
}

/*.map_contianer .clear_both { clear: both; line-height: 1px; }*/

.map_contianer h2 {
	margin: 0px 4px;
	font-size: 14px;
	font-weight: bold;
}

.map_contianer a.dot {
	background-image:url(../images/map/template/do1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}
.map_contianer a.dot1 {
	background-image: url(../images/map/template/do2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}
.map_contianer a.dot2 {
	background-image: url(../images/map/template/do3.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}
.map_contianer a.dot3 {
	background-image: url(../images/map/template/do4.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}
.map_contianer a.dot4 {
	background-image: url(../images/map/template/do1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}
.map_contianer a.dot5 {
	background-image: url(../images/map/template/do5.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}
.map_contianer a.dot6 {
	background-image: url(../images/map/template/do6.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}
.map_contianer a.dot.selected {
	background-position: 0px -40px;
}

.map_contianer a.dot:hover {
	background-position: 0px -20px;
}
.map_contianer .form_continent {
	position: absolute;
	top: -41px;
	left: 100px;
}
.map_contianer .form_continent #continent, select{
	border:1px solid #e2e2e2;
	background:#dfdcdf;
	color: #333;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:120px;
	height:30px;
	
	outline-color: #ce0000;
	behavior:url(images/PIE.htc);
}

.map_contianer .city_detail {
	background:url(../images/map/template/trans.png);
	position: absolute;
	top: 65px;
	width: 80px;
	padding: 5px 0px 0px 5px;
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	left: 102px;
	behavior:url(images/PIE.htc);
}

.map_contianer .city_detail h3{
	float:left;
	color:#FFF;
	clear:both;
	text-shadow: 1px 1px 1px #000;
	behavior:url(images/PIE.htc);
}

.map_contianer .city_detail h2{
	color:#fff;
	font-size:15px;
}

.map_contianer .city_detail .city_photo {
	float: left;
	margin: 0px 0px 0px 0px;
}

/*   Domestic */
.map_contianer_domestic {
	background-image: url(../images/map/template/india.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 600px;
	width: 945px;
	position: relative;
	color: #fff;
	font-family: Calibri;
	font-size: 15px;
	margin: 00px 6px 0px 00px;
	text-align: left;
}

.map_contianer_domestic h2 {
	margin: 0px 4px;
	font-size: 13px;
	font-weight: bold;
	
}

.map_contianer_domestic a.dot {
	background-image: url(../images/map/template/dots.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}

.map_contianer_domestic a.dot.selected {
	background-position: 0px -40px;
}

.map_contianer_domestic a.dot:hover {
	background-position: 0px -20px;
}

.map_contianer_domestic .form_continent {
	position: absolute;
	top: -41px;
	left: 85px;
}

.map_contianer_domestic .form_continent #continent{
	border:1px solid #e2e2e2;
	background:#dfdcdf;
	color: #333;
	text-shadow:1px 1px 1px #FFF;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:120px;
	height:20px;
	margin:5px 0;
	outline-color: #ce0000;
	behavior:url(images/PIE.htc);
}

.map_contianer_domestic .city_detail {
	background:url(../images/map/template/trans.png);
	position: absolute;
	top: 67px;
	width: 80px;
	padding: 5px 0px 0px 5px;
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	left: 102px;
	behavior:url(images/PIE.htc);
}
.map_contianer_domestic .city_detail h3{
	float:left;
	color:#FFF;
	clear:both;
	text-shadow: 1px 1px 1px #000;
	behavior:url(images/PIE.htc);
}
.map_contianer_domestic .city_detail h2{
	color:#fff;
	font-size:14px;
  }

.map_contianer_domestic .city_detail .city_photo {
	float: left;
	margin: 0px 0px 0px 0px;
}

/* domestic   */

.Australia{
	position:absolute;
	top:50px;
	left:420px;
}

.USA{
	position:absolute;
	top:-60px;
	left:-57px;

}
.Canada
{
	position:absolute;
	top:-110px;
	left:-68px;
}

.Indonesia{
	position:absolute;
	top:20px;
	left:360px;
}

.India{
	position:absolute;
	top:-20px;
	left:300px;
}

.Nepal{
	position:absolute;
	top:-47px;
	left:320px;
}

.Srilanka{
	position:absolute;
	top:-43px;
	left:259px;
}

.Maldives{
	position:absolute;
	top:-39px;
	left:234px;
}

.NewZealand{
	position:absolute;
	left:440px; top:80px;
}

.Singapore{
	position:absolute;
	top:10px;
	left:350px;
}

.Malaysia{
	position:absolute;
	top:-13px;
	left:347px;
}

.Thailand{
	position:absolute;
	top:-32px;
	left:330px;
}

.Hongkong{
	position:absolute;
	top:-40px;
	left:367px;
}

.South-America{
	position:absolute;
	top:-53px;
	left:12px;
}

.Dubai{
	position:absolute;
	top:-22px;
	left:234px;
}

.Turkey{
	position:absolute;
	top:-70px;
	left:220px;
}

.France{
	position:absolute;
	top:-92px;
	left:142px;
}

.Greece{
	position:absolute;
	top:-65px;
	left:185px;
}

.Italy{
	position:absolute;
	top:-64px;
	left:168px;
}

.Spain{
	position:absolute;
	top:-60px;
	left:160px;
}

.Switzerland{
	position:absolute;
	top:-79px;
	left:164px;
}

.SouthAfrica{
	position:absolute;
	top:50px;
	left:200px;
}

.Kenya{
	position:absolute;
	top:10px;
	left:210px;
}

.Mauritius{
	position:absolute;
	top:40px;
	left:240px;
}

.Maharashtra{
	position:absolute;
	top:210px;
	left:190px;
}

.Kerala{
	position:absolute;
	top:371px;
	left:230px;
}

.TamilNadu{
	position:absolute;
	top:360px;
	left:280px;
}

.Goa{
	position:absolute;
	top:285px;
	left:195px;
}

.Karnataka
{
    position:absolute;
	top:272px;
	left:230px;
}
.MadhyaPradesh{
	position:absolute;
	top:128px;
	left:255px;
}

.Sikkim{
	position:absolute;
	top:20px;
	left:460px;
}

.Kashmir{
	position:absolute;
	top:-115px;
	left:245px;
}

.Uttaranchal{
	position:absolute;
	top:-26px;
	left:310px;
}

.Himachal{
	position:absolute;
	top:-65px;
	left:278px;
}

.Andaman{
	position:absolute;
	top:325px;
	left:520px;
}

.Leh{
	position:absolute;
	top:-112px;
	left:270px;
}

.Rajasthan
{
    position:absolute;
	top:33px;
	left:165px;
}

.Odisha
{
    position:absolute;
	top:159px;
	left:415px;
}

.Assam
{
    position:absolute;
	top:35px;
	left:570px;
}
