.cssmenu_main{width:100%;height:25px;background:url(../images/menu-bg.png) top left repeat-x}.cssmenu{border:0;border:0;padding:0;font-family:Calibri,"Neo Sans";font-weight:700;width:990px;margin:0 auto}.cssmenu ul{background:url(../images/menu-bg.png) top left repeat-x;height:25px;list-style:none;margin:0;padding:0;width:990px}.cssmenu li{float:left}.cssmenu li.divider{border-right:2px solid #858585}.cssmenu li.last{float:left;border-right:0}.

cssmenu li a{color:#ce0000;display:block;line-height:25px;padding:0 41px;font-size:18px;text-align:center;text-decoration:none}.

cssmenu li a:hover{background:url(../images/menu-bg-active.png);color:#fff; }

.cssmenu li ul{background:#e0e0e0;border-left:2px solid #858585;border-right:2px solid #858585;border-bottom:2px solid #858585;display:none;height:auto;margin:0 0 0 -2px;filter:alpha(opacity=95);opacity:.95;position:absolute;width:213px;z-index:200}

.cssmenu li:hover ul{display:block; }
.cssmenu li li{display:block;float:none;padding:0;width:213px}
.cssmenu li ul a{display:block;font-size:16px;font-style:normal;padding:0 15px 0 40px;text-align:left}
.cssmenu li ul a:hover{background:url(../images/menu-bg-active.png);color:#fff;opacity:1;filter:alpha(opacity=100);}


.cssmenu p{clear:left}.cssenu 
.active>a{background:url(../images/menu-bg-active.png) top left repeat-x;color:#fff}
.cssmenu .active>a:hover{color:#fff}

.clear{clear:both;height:0;width:100%}

.cssmenu_main-sme{width:100%;height:2px;background:url(../images/menu-bg-sme.png) top left repeat-x}.cssmenu-cs{border:none;border:0;padding:0;font-weight:700;margin:0 auto}.cssmenu-cs ul{list-style:none;margin:0;padding:0}.cssmenu-cs li a{display:block;line-height:18px;padding:0 2px;font-weight:700;font-size:14px;text-decoration:none;width:68px}.cssmenu-cs li ul{display:none;height:auto;margin:0 0 0 -2px;filter:alpha(opacity=95);opacity:.95;position:absolute;z-index:200}.cssmenu-cs li:hover ul{display:block}.cssmenu-cs li li{display:block;float:none;padding:0;margin:0 4px;background:#fff}.cssmenu-cs li ul a{display:block;padding:0;text-align:left}.cssmenu-wel{border:none;border:0;padding:0;font-weight:700;margin:0 auto}.cssmenu-wel ul{list-style:none;margin:0;padding:0}.cssmenu-cs li{float:left}.cssmenu-wel li a{display:block;line-height:18px;padding:0 2px;font-weight:700;font-size:14px;text-align:right;text-decoration:none}.cssmenu-wel li ul{display:none;height:auto;margin:0 0 0 -2px;filter:alpha(opacity=95);opacity:.95;position:absolute;z-index:200;text-align:right}.cssmenu-wel li:hover ul{display:block}.cssmenu-wel li li{display:block;float:none;padding:0;margin:0 0 0 147px;text-align:right;background:#fff;width:60px}.cssmenu-wel li ul a{display:block;padding:0}

/*#menudiv ul li
{
	padding-top:-10px;
}
#menudiv ul li:hover, .current
{
	border-top:4px solid #ff3100; margin-top:-10px; padding-top:5px;
}
.current
{
	border-top:4px solid #ff3100; margin-top:-10px; padding-top:5px;
}*/