/*====================================== reset.css is here ========================================*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	-moz-margin:0;
	-moz-padding:0;
}
table {
	-moz-border-collapse:collapse;
	-moz-border-spacing:0;
}
fieldset, img {
	-moz-border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	-moz-display: block;
	-moz-margin: 0;
	-moz-padding: 0;
}

ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:bold;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	-moz-border:0;
}
.clear_0 {
	clear:both;
	font-size:0px;
	line-height:0px;
	-moz-display:block;
}
.last {
	-moz-margin:0 !important;
}
.pad_last {
	-moz-padding:0 !important;
}
.no_bg {
	-moz-background:none !important;
}
/**************************************************************************************/
a {
	color:#000;
	text-decoration:none;
	outline:0 none;
}
a:hover {
	color:#000;
	text-decoration:none;
}
h1 {
	font-size:24px;
}
h2 {
	font-size:22px;
}
h3 {
	font-size:18px;
}
h4 {
	font-size:16px;
}
h5 {
	font-size:14px;
}
h6 {
	font-size:12px;
}
/*----------------------------------------------------------------------------------*/
html {
}
body {
	/*color:#b1b1b1;*/
	font-family:"Arial", Verdana, Tahoma;
	font-size:12px;
}
.flt_Lt {
	float:left;
	-moz-display:inline;
}
.flt_Rt {
	float:right;
	-moz-display:inline;
}
/* ---------------------------------------------------------------------------------*/


/* ----------------------- layout ----------*/
.wrapper {
	-moz-margin:0 auto;
}
.container {
	-moz-width:1284px;
	-moz-margin:0 auto;
}

#header {
	-moz-width:100%;
	
}
.header_bg{
	float:left;
	-moz-width:100%;
	-moz-background:url(../images/body_bg.PNG) repeat-x left top;
	
	}
	.header_right{
	float:left;
	-moz-width:760px;
	}
	.header_top{
		float:left;
		-moz-width:777px;
		}
		.header_top-icon{
		float:left;
		-moz-width:100%;
		}
		.header_top-icon ul{
		float:right;
		
		}
		.header_top-icon ul li{
		float:left;
		font-size:14px;
		color:#3b4f52;
		font-family:Verdana, Geneva, sans-serif;
		-moz-padding:0 0 0 15px;
		line-height:65px;
		}
		.header_top-icon ul li a{
		float:left;
		color:#3b4f52;
		}
		.header_bottom{
		float:left;
		-moz-width:100%;
		
		}
.header_bottom_menu{
		float:right;
		-moz-width:100%;
		}
		.header_bottom_menu ul{
		float:right;
		-moz-padding:0 0 0 10px;
		
		}
		.header_bottom_menu ul li{
		float:left;
		font-size:15px;
		color:#3b4f52;
		-moz-padding:0 0 0 28px;
		line-height:12px;
		-moz-background:url(../images/dvdr.png) no-repeat 14px 15px;
		}
		.header_bottom_menu ul li.last{
		-moz-background:none;
		}
		.header_bottom_menu ul li a{
		color:#3b4f52;
		}
				.header_bottom_menu ul li a:hover{
		color:#F00;
		}
		.header-image{
			float:left;
			-moz-width:1224px;
			-moz-padding:12px 22px 0 14px;
			}
			.main_content {
				
       }
	   .content_main_block{
		   float:left;
		   -moz-width:942px;
		   -moz-padding:15px 0 10px 15px;
		 
		   }
		   .content_main_block-left{
		   float:left;
		   -moz-width:942px;
		   
		   
		   }
		   .content_main_block-left ul{
		   float:left;
		  
		   }
		   .content_main_block-left ul li{
		   float:left;
		   -moz-padding:0 0 0 16px;
		   }
		   
		   .partner_main_box{
			   float:left;
			   -moz-width:908px;
			   -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-border:#dddddd 1px solid;
	-moz-margin:12px 0 0 17px;
	-moz-padding:0 0 10px 0;
			   }
		   .partner_box{
			   float:left;
			   -moz-width:98%;
			   -moz-padding-bottom:15px;
			  
			   }
			   .partner_bock{
				   float:left;
				   -moz-width:260px;
				   -moz-padding:0 35px 0 0;
				   }
			    .partner_bock h2{
			   float:left;
			   font-size:18px;
			   color:#666666;
			   font-family:Calibri;
			   }
			    .partner_bock p{
			   float:left;
			   font-size:14px;
			   color:#666666;
			   font-family:Calibri;
			   
			   }
			   .partner_bock em{
				   float:left;
				    font-size:14px;
			   color:#666666;
			   font-family:Calibri;
			
				   }
			   
			    .partner_bock a{
			   float:left;
			   font-size:14px;
			   color:#069feb;
			   font-family:Calibri;
			   text-decoration:underline;
			   -moz-padding:0 2px 0 2px;
			   }
		  .social_madia_main-block{
			  float:left;
			  -moz-width:926px;
			  -moz-margin:15px 0 0 8px;
			  }
		   .social_box{
			   float:left;
			   -moz-width:230px;
			   -moz-height:207px;
			   -moz-background:url(../images/social-img-1.png) no-repeat left top;
			   }
			    .social_box h2{
			   float:left;
			  font-size:15px;
			  color:#585c5e;
			  -moz-margin:0 0 0 10px;
			   line-height:40px;
			   }
			    .social_box_smi {
			   float:left;
			  font-size:15px;
			  color:#585c5e;
			  text-decoration:none;
			  -moz-margin:0 0 0 10px;
			   line-height:40px;
			   }
			   .social_box_smi:hover {
			   float:left;
			  font-size:15px;
			  color:#585c5e;
			  text-decoration:underline;
			  -moz-margin:0 0 0 10px;
			   line-height:40px;
			   }
			    .social_box p{
			   float:left;
			  font-size:12px;
			  color:#585c5e;
			  -moz-margin:2px 0 0 10px;
			 -moz-width:210px;
			   }
			     .social_box-two{
			   float:left;
			   -moz-width:230px;
			   -moz-height:207px;
			   -moz-background:url(../images/social-img-2.png) no-repeat left top;
			   }
			    .social_box-two h3{
			   float:left;
			  font-size:15px;
			  color:#585c5e;
			  -moz-margin:0 0 0 10px;
			   line-height:40px;
			   }
			    .social_box-two p{
			   float:left;
			  font-size:12px;
			  color:#585c5e;
			  -moz-margin:2px 0 0 10px;
			  -moz-width:210px;
			   }
			     .social_box-three{
			   float:left;
			   -moz-width:230px;
			   -moz-height:207px;
			   text-align:justify;
			   -moz-background:url(../images/social-img-3.png) no-repeat left top;
			   }
			    .social_box-three h3{
			   float:left;
			  font-size:15px;
			  color:#585c5e;
			  -moz-margin:0 0 0 10px;
			   line-height:40px;
			   }
			    .social_box-three p{
			   float:left;
			  font-size:12px;
			  color:#585c5e;
			  -moz-margin:2px 0 0 10px;
			  -moz-width:210px;
			   }
			     .social_box-four{
			   float:left;
			   -moz-width:230px;
			   -moz-height:207px;
			   -moz-background:url(../images/social-img-4.png) no-repeat left top;
			   }
			    .social_box-four h3{
			   float:left;
			  font-size:15px;
			  color:#585c5e;
			  -moz-margin:0 0 0 10px;
			   line-height:40px;
			   }
			    .social_box-four p{
			   float:left;
			  font-size:12px;
			  color:#585c5e;
			   -moz-margin:2px 0 0 10px;
			   -moz-width:210px;
			   }
			   
		   
		   .content_main_block-right{
		   float:left;
		   width:298px;
		   border:#dddddd 1px solid;
		  -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	margin:24px 0 10px 0;
		   }
		    .content_main_block-right h1{
		   float:left;
		 width:95%;
		 font-size:22px;
		 color:#555555;
		 line-height:80px;
		 -moz-border-bottom:#dddddd 1px solid;
		 -moz-padding:0 0 0 16px;
		   }
		 .key_box{
			 float:left;
			 -moz-width:274px;
			 -moz-margin:18px 0 0 15px;
			 }  
			 .key_icon_left{
				 float:left;
				 -moz-width:72px;
				
				 }
				 .key_rights{
					 float:left;
					 -moz-width:195px;
					 }
					 .key_rights h2{
					 float:left;
					color:#2899d7;
					font-size:14px;
					 }
					 .key_rights p{
					 float:left;
					 color:#878585;
					 font-size:14px;
					 line-height:22px;
					 }
		   
/*-------------------------------------------*/

/* ------------------------- HEADER HERE -------------------*/
#logo {
	-moz-width:418px;
	float:left;
	-moz-padding:15px 0 0 47px;

	
}
/* ---------------------------------------------------------*/



/* ------------------------- NAVIGATION HERE ---------------*/
nav {
}
nav ul {
}
nav ul li {
}
nav ul li a {
}
nav ul li a span {
}
nav ul li a:hover {
}
/* ---------------------------------------------------------*/

/* ------------------------ MAIN CONTENT HERE --------------*/
/* ---------------------------------------------------------*/


/* ------------------ FOOTER HERE --------------------------*/
#footer {
	
}
.footer_main_block{
	float:left;
	-moz-width:1284px;
	-moz-border-top:#CCC 2px solid;
	-moz-padding:10px 0 10px 0;
	}
	.footer-box{
		float:left;
		-moz-width:100%;}
	.footer_icon_box{
		float:left;
		-moz-width:164px;
		-moz-padding:16px 0 0 24px;
		}
		.footer_icon_box h3{
		float:left;
		color:#8e8e8e;
		font-size:14px;
		-moz-padding:0 0 0 24px;
		}
		.icon-block{
			float:left;
			-moz-width:84px;
			-moz-padding:10px 0 0 45px;
			}
			.icon-block a{
			color:#fff;
			
			}
		
		.footer_right{
			float:left;
			-moz-width:1069px;
			}
			.footer_right_box{
				float:left;
				-moz-width:264px;
				-moz-background:url(../images/footer-dvdr.png) no-repeat 15px top;
				}
				
			.footer_right_box h4{
				float:left;
				-moz-width:150px;
				font-size:14px;
				color:#8e8e8e;
				text-decoration:underline;
				-moz-padding:0 0 10px 58px;
				}
				.footer_one{
					float:left;
					-moz-width:165px;
					}
				.footer_one ul{
				float:left;
				}
				
				.footer_one li{
				float:left;
				font-size:14px;
				color:#8e8e8e;
				line-height:20px;
				-moz-padding:0 0 0 65px;
				 -moz-width: 150px;
				}
				.footer_one li a{
				
				color:#8e8e8e;
				
				}
				
		.footer_two{
					float:left;
					-moz-width:280px;
					}
				.footer_two ul{
				float:left;
				
				}
				
				.footer_two li{
				float:left;
				font-size:14px;
				color:#8e8e8e;
				line-height:20px;
				padding:0 0 0 69px;
				}
				.footer_two li a{
				color:#8e8e8e;
				
				}
				
				
				.footer_bg{
					float:left;
					-moz-width:100%;
					-moz-background-color:#f7f8f8;
					height:42px;
					-moz-margin:5px 0 0 0;
					}

.footer_bg h2{
					float:left;
					-moz-width:100%;
					font-size:13px;
					color:#787272;
					line-height:30px;
					text-align:center;
					cursor:pointer;
					}
.footer_bg h2 :hover{
					float:left;
					-moz-width:100%;
					font-size:13px;
					color:#000;
					line-height:30px;
					text-align:center;
					cursor:pointer;
					}

.footer_nav{ font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#3b4f52; text-decoration:none; outline:none; line-height:18px;}

.footer_nav_links{ font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#3b4f52; text-decoration:none; outline:none; line-height:18px;}
.footer_nav_links:hover{ font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#3b4f52; text-decoration:underline; outline:none; line-height:18px;}
						
 .span
     {
         color:Red;
     }