@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	border:0px;
	margin:0px;
}
#wrapperclass {
	width:1280px;
	margin:auto;
}
.logo {
	width:1289px;
	height:101px;
	background-image:url(images/logonew9_02.png); background-repeat:no-repeat;
}
.inner {
	width:214px;
	height:50px;	
	position:relative;
	top:20px;
}
.menu {
	width:1280px;
	position:relative; /*absulute*/
	/*top:81px;*/
	 /*margin:0px auto; */
	 /*margin-left:64px; */
	 margin-top:-20px;
	 padding-left:50px;
}
.menu ul {
	width:100%;
	height:21px;
	
}
.menu ul li {
	float:left;
padding:0px 15px 0px 16px;
	height:21px;
	list-style:none; 
}

.menu ul li a {
	color:#c62731;
	font-family:Segoe UI;
	font-size:11.8px;
	font-weight:bold;
	/*line-height:16px;*/
	text-decoration:none; padding-top:14px; height:30px;  margin-top:10px; 
}

.menu ul ul {
	z-index:100; 	font-family:Segoe UI;
	font-size:11.8px;  padding-top:10px;
}

/*.menu ul ul li { 	font-family:Segoe UI;
	font-size:11.8px;
	z-index:100; padding:0px 15px 0px 15px;
	height:21px;
	list-style:none; background:#fff; width:100px; border:1px #CCC solid; 
}
*/

.menu ul li ul { 	font-family:Segoe UI;  padding-top:10px;
	font-size:11.8px;
	float:left;
padding:0px 15px 0px 15px;
	height:21px;
	list-style:none;
}

.menu li ul li {  width:95px;   border-bottom:1px solid #CCC;
padding:2px 15px 0px 15px;
	height:21px;
	list-style:none; 
}

.menu ul li ul {
  padding: 0;
  position: absolute;
  left: 0;
  width: 125px; background:#fff; height:110px; border-radius:5px;  border:1px solid #CCC;
  -moz-box-shadow: inset 0 0 5px 5px #f8f8f8;
-webkit-box-shadow: inset 0 0 5px 5px#f8f8f8;
box-shadow: inset 0 0 5px 5px #f8f8f8;
  display: none;
  opacity: 0;
  visibility:hidden;
}
.menu ul li ul li { border-bottom:1px solid #CCC;
  display: block; 
  color: #fff;
}
.menu ul li ul li:hover { font-family:Segoe UI;
	font-size:11.8px; }
.menu ul li:hover ul {
  display: block; font-family:Segoe UI;
	font-size:11.8px;
  opacity: 1;
  visibility: visible;
}

.menu ul li ul li a:hover {
 font-family:Segoe UI;
	font-size:11.8px; color:#0c67a5; padding-top:10px;

}

/*Make the parent of sub-menu relative*/

.menu_bellow {
	width:1280px;
	height:33px;
	background-color:#0c67a5;
	position:relative;
	top:7px;
	/*top:107px;*/
}
.social_networks {
	width:150px;
	height:31px;
	float:left;
	position:relative;
	left:536px;

}
.social_networks li {
	float:left;
	list-style:none;
	line-height:31px;
}
.social_networks li a {
	text-decoration:none;
	line-height:31px;
}
.banner {
	width:1280px;
	height:257px;
	/*position:relative;*/
	/*top:137px;*/
	
}
.banner_billow {
	width:1292px;
	height:332px;
	position:relative; /*absalute*/
	/*top:395px;*/
}
.billow_left {
	
	width:634px;
	/*height:328px;*/ height:auto;
	background-color:#fafafa;
	border:solid 1px #bdbebe;
	float:left;
	margin-top:10px;
}

.head {
	width:628px;
	height:30px;
}
.Tickets {
	background-color:#0c67a5; width:180px; height:30px; margin-top:5px; margin-left:5px; float:left;
}
.flight { width:73px; height:28px; float:left; background-image:url(images/flight1.jpg); margin-top:4px; margin-left:25px;}
.hotal { width:73px; height:28px; float:left; background-image:url(images/hotal1.jpg); margin-top:4px; margin-left:6px;}
.holides {  width:84px; height:28px; float:left; background-image:url(images/hotides1.jpg); margin-top:4px; margin-left:6px;}
.flight_hotal {  width:117px; height:28px; float:left; background-image:url(images/fighhotal.jpg); margin-top:4px; margin-left:6px;}
.text ul {
	width:520px;
	margin-left:54px;
	margin-top:8px;
}
.text ul li {
	float:left;
	
	color:#072b43;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.select_hidden {
	width:600px;
}
.select_hidden ul {
	width:400px;
	margin-left:54px;
	margin-top:8px;
}
.select_hidden ul li {
	float:left;
	width:125px;
	color:#072b43;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.selectedclass {
	position:relative; top:20px;
	height:40px;
}
.Tickets1 {
	background-color:#0c67a5; width:246px; height:32px; margin-left:38px; float:left; border-radius:4px; position:relative;
	top:-25px;
}
.Tickets2 {
	background-color:#0c67a5; width:246px; height:32px; position:relative;
	top:-25px; margin-left:31px; float:left; border-radius:4px;
}
.billow_right {
	position:relative;
	width:636px;
	margin-left:5px;
	height:330px; 	background-image:url(images/map_bg.jpg);
	border:solid 1px #bdbebe;
	float:left;
	margin-top:10px;
}
.container
{
	width:1290px;
	height:330px;
	
position:absolute;
top:725px;
}
.containe_left {
	width:630px;
	height:400px;
	float:left;
	margin-left:3px;
}
.text_informatiomn {
	width:630px;
	height:305px;
	background-color:#fafafa;
	border:solid 1px #b5b1b2;
	margin-top:-6px;
}
.welcome_text {
	width:308px;
	height:42px;
	margin-left:32px;
	margin-top:8px;
}
.contact_details {
	width:630px;
	height:50px; /*position:relative; overflow:hidden; clear:both;*/
}
.usa {
	float:left;
	width:280px;
height:52px;
}
.india{
	float:left;
	width:320px;
	height:52px;
}
.containe_right {
	width:649px;
	height:400px;
	float:left;
}
.top {

	width:646px;
	height:123px;
}
.top ul {
	margin-left:7px;
	margin-top:11px;
	width:646px;
}
.top ul li {
	float:left;
}
.center {
	
	width:648px;
	height:23px;
	
}
.center ul {
	margin-left:20px;
/*	margin-top:10px;
*/}
.center ul li {
	float:left; padding:0px; height:48px;
}
.buttom {	
	width:648px;
	height:126px; clear:both;
} 
.buttom  ul {
	margin-left:7px;
/*	margin-top:11px;
*/	width:646px;
}
.buttom  ul li {
	float:left;
}
.lastone {
	width:648px;
	height:40px; clear:both; position:relative; top:-9px;
}
.lastone ul {
	margin-left:5px;
	width:648px; padding-top:7px;
}
.lastone ul li {
	float:left; padding:0px; margin:0px; /*padding-top:-10px;*/
}
.summer_packeges {
	width:1280px;
	height:227px;
	position:relative;
}
.stock {
	
	position:relative;
	
}
.tours_locations {
	width:1280px;
	position:relative;
	top:10px;
	height:145px;
}
.box1 {
	float:left;
	width:165px;
	height:142px;
	margin-left:41px;
}
.box1 h1 {
	color:#c62731;
	font-size:19px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:-18px;
}
.box1 li {
	color:#777474;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
list-style:none;
}
.left_stock {
	float:left;
	margin-left:15px;
}
.box2 {
	float:left;
	width:166px;
	height:142px;
	margin-left:50px;
}
.box2 h1 {
	color:#c62731;
	font-size:19px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:-18px;
}
.box2 li {
	color:#777474;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
list-style:none;
}
.box3 {
	float:left;
	width:188px;
	height:142px;
	margin-left:42px;
}
.box3 h1 {
	color:#c62731;
	font-size:19px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:-18px;
}
.box3 li {
	color:#777474;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
list-style:none;
}
.box4 {
	float:left;
	width:188px;
	height:142px;
	margin-left:40px;
}
.box4 h1 {
	color:#c62731;
	font-size:19px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:-18px;
}
.box4 li {
	color:#777474;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
list-style:none;
}
.box5 {
	float:left;
	width:188px;
	height:142px;
	margin-left:42px;
}
.box5 h1 {
	color:#c62731;
	font-size:19px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:-18px;
}
.box5 li {
	color:#777474;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
	list-style:none;

}
.stock1 {
    position:relative;;	
	/*top:1535px;*/
}
.tours {
		width:1280px;
		height:165px;
		/*position:absolute;
		top:1615px;*/
		position :relative;
		
	}
.footer1 {
		width:1277px;
		height:22px;
		position:relative;
		/*top:1780px;*/ padding:0px;
		background-color:#0d67a5;}
.footer1 p {
		color:#fffefe;
		line-height:22px;
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
		margin-left:50px;
	}
.footer1 a {
		color:#fffefe;
		line-height:22px;
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
	}
	
/*text style adding	 */	

.outstation_trip_type{display:block}.car
.outstation_trip_type{width:221px;display:none}
	
/*buttons 	*/	
	.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background-color:#234faa;
	color:#FFF;
	box-shadow: 2px 2px 2px #888;
	margin-top:3px; 
	
}
.button11{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background-color:#234faa;
	color:#FFF;
	box-shadow: 2px 2px 2px #888;
	margin-top:13px; 
	
}
.button11:hover {
	text-decoration: none;
	background-color:#1a3f89;
}
.button11:active {
	position: relative;
	top: 1px;
}
.button:hover {
	text-decoration: none;
	background-color:#1a3f89;
}
.button:active {
	position: relative;
	top: 1px;
}

.button22 {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background-color:#d43e00;
	color:#FFF;
	box-shadow: 2px 2px 2px #888;
	margin-left:90px; margin-top:3px;
	

}
.button33 
{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background-color:#d43e00;
	color:#FFF;
	box-shadow: 2px 2px 2px #888;
	margin-left:-309px; 
	margin-top:-7px;
	

}
.button33:hover {
	text-decoration: none;
	background-color:#f04800;
}
.button22:active {
	position: relative;
	top: 1px;
}
.button22:hover {
	text-decoration: none;
	background-color:#f04800;

}
.button22:active {
	position: relative;
	top: 1px;
}


.landingblocks {margin: 40px 0 0;}
.landingblock {float:none;width:24%;float:left;margin: 0 29px 29px 0!important;height:145px!important;overflow:hidden;padding: 20px;background: url(images/linen.png);border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border: 1px solid #ccc;-moz-box-shadow: 0px 1px 2px #aaa;-webkit-box-shadow: 0px 1px 2px #aaa;box-shadow: 0px 1px 2px #aaa;text-shadow: 0 1px 0 #fff;}
.landingblock p {font-size:12px;color:#777;clear:both;}
.landingblock h3 {font-size:16px;margin: 3px 0 0;text-shadow: 0 1px 1px #fff;padding-left:55px;}
.landingaustralia .landingblock h3 a {color:#f78622;}

.block3, .block6 {margin:0;}

.genie {background: #a2d84c;}
.genie h3 {margin:0;float:left;padding:0;}
.genie p {padding: 10px 0 20px;}
.landingblock select {width:80%;}

.visaicon {display:block;float:left;}
.typework {background-position:0 -312px;width: 34px;height: 36px;margin-top:-5px;}
.typevisit {background-position:-258px -311px;width: 34px;height: 38px;margin-top:-5px;}
.typestudent {background-position: -60px -317px;width: 43px;height: 26px;margin-top:0px;}
.typefamily {background-position:-128px -316px;width: 37px;height: 27px;margin-top:0px;}
.typebusiness {background-position:-189px -314px;width: 44px;height: 32px;}

	@media (max-width: 1111px) {
		.landingblock {}
	}	
	
	@media (max-width: 1024px) {
		.landingblocks {width:100%!important;float:left!important;}
		.landingblocks .landingblock {width:40%!important;height:90px!important;min-width:250px;}
	}
	
	@media (max-width: 768px) {
		.landingblocks .landingblock {width:200px!important;height:90px!important;}
	}
	
	@media (max-width: 902px) {
		.landingblocks .landingblock {width:90%!important;min-height:0!important;height:90px!important;}
	}
	
	@media (max-width: 870px) {
		.landingblocks .landingpage .countryinfo {width:100%!important;}
	}
	
	@media (max-width: 450px) {
		.landingblocks .landingblock {width:100%!important;height:90px!important;min-width:0;}
	}
	
	






















