.tl{width:12px;height:20px;background:url(../images/e-brochures/design/tl.png) no-repeat bottom left}.tc{background:url(../images/e-brochures/design/tr.png) bottom left repeat-x}.tr{width:12px;background:url(../images/e-brochures/design/tr.png) repeat-x bottom right}.mc{background:url(../images/e-brochures/design/bg.png) top left}.ml{width:12px;background:url(../images/e-brochures/design/l.png) top right repeat-y}.bl{width:12px;height:20px;background:url(../images/e-brochures/design/bl2.png) top left repeat-x}.bc{height:20px;background:url(../images/e-brochures/design/br.png) top left repeat-x}.mr{width:12px;background:url(../images/e-brochures/design/r2.png) repeat-y top left}.br-new{width:12px;height:20px;background:url(../images/e-brochures/design/br.png) repeat-x top right}.next{background:url(../images/e-brochures/design/next.png) no-repeat;width:10px;height:10px;border:none;float:left;margin:0 20px 0 0;cursor:pointer}.prev{background:url(../images/e-brochures/design/prev.png) no-repeat;width:10px;height:10px;border:none;float:left;margin:0 20px 0 0;cursor:pointer}.download{width:12px;height:12px;background:url(../images/e-brochures/design/download_icon.png) no-repeat;float:left}.dashboard-container{height:15px;margin:0 0 0 350px}.wrapper{width:100%}.wrapper-content{width:990px;margin:0 auto}.banner-shadow{background:url(../images/e-brochures/design/banner-bg-NEW.png) no-repeat;width:765px;height:571px;margin:0 5px}
.photo1{background:url(../images/e-brochures/cover.jpg) no-repeat}
.photo2{background:url(../images/e-brochures//blnk.jpg) no-repeat}
.photo3{background:url(../images/e-brochures/index.jpg) no-repeat}
.photo4{background:url(../images/e-brochures/2.jpg) no-repeat}
.photo5{background:url(../images/e-brochures/3.jpg) no-repeat}
.photo6{background:url(../images/e-brochures/4.jpg) no-repeat}
.photo7{background:url(../images/e-brochures/5.jpg) no-repeat}
.photo8{background:url(../images/e-brochures/6.jpg) no-repeat}
.photo9{background:url(../images/e-brochures/7.jpg) no-repeat}
.photo10{background:url(../images/e-brochures/8.jpg) no-repeat}
.photo11{background:url(../images/e-brochures/9.jpg) no-repeat}
.photo12{background:url(../images/e-brochures/10.jpg) no-repeat}
.photo13{background:url(../images/e-brochures/11.jpg) no-repeat}
.photo14{background:url(../images/e-brochures/12.jpg) no-repeat}
.photo15{background:url(../images/e-brochures/13.jpg) no-repeat}
.photo16{background:url(../images/e-brochures/14.jpg) no-repeat}
.photo17{background:url(../images/e-brochures/15.jpg) no-repeat}
.photo18{background:url(../images/e-brochures/16.jpg) no-repeat}
.photo19{background:url(../images/e-brochures/17.jpg) no-repeat}
.photo20{background:url(../images/e-brochures/18.jpg) no-repeat}
.photo21{background:url(../images/e-brochures/19.jpg) no-repeat}
.photo22{background:url(../images/e-brochures/20.jpg) no-repeat}
.photo23{background:url(../images/e-brochures/21.jpg) no-repeat}
.photo24{background:url(../images/e-brochures/22.jpg) no-repeat}
.photo25{background:url(../images/e-brochures/23.jpg) no-repeat}
.photo26{background:url(../images/e-brochures/24.jpg) no-repeat}
.photo27{background:url(../images/e-brochures/25.jpg) no-repeat}
.photo28{background:url(../images/e-brochures/26.jpg) no-repeat}
.photo29{background:url(../images/e-brochures/27.jpg) no-repeat}
.photo30{background:url(../images/e-brochures/28.jpg) no-repeat}
.photo31{background:url(../images/e-brochures/29.jpg) no-repeat}
.photo32{background:url(../images/e-brochures/30.jpg) no-repeat}
.photo33{background:url(../images/e-brochures/31.jpg) no-repeat}
.photo34{background:url(../images/e-brochures/32.jpg) no-repeat}
.photo35{background:url(../images/e-brochures/33.jpg) no-repeat}
.photo36{background:url(../images/e-brochures/34.jpg) no-repeat}
.photo37{background:url(../images/e-brochures/35.jpg) no-repeat}
.photo38{background:url(../images/e-brochures/36.jpg) no-repeat}
.photo39{background:url(../images/e-brochures/37.jpg) no-repeat}
.photo40{background:url(../images/e-brochures/38.jpg) no-repeat}
.photo41{background:url(../images/e-brochures/39.jpg) no-repeat}
.photo42{background:url(../images/e-brochures/40.jpg) no-repeat}
.photo43{background:url(../images/e-brochures/41.jpg) no-repeat}
.photo44{background:url(../images/e-brochures/42.jpg) no-repeat}
.photo45{background:url(../images/e-brochures/43.jpg) no-repeat}

.photo46{background:url(../images/e-brochures/back-cover.jpg) no-repeat}


